* {
  margin: 0;
  padding: 0;
}

.App{
  margin-top: 10px;
  padding-left: 10px;
}

.form-label{
  padding-right: 10px;
}

.form-input{
  width: 400px;
}

.btn-success{
  margin-left: 10px;
}

.btn-danger{
  margin-left: 10px;
}

.btn-link{
  margin-left: 10px;
}

h2{
  padding-top: 20px;
}

.list-group-flush{
  padding-right: 50%;
}

.list-group-item{
  padding-top: 0.1px;
  padding-left: 10px;
}